body{
    background-color: black;
    color:rgba(20, 206, 6, 0.8);
    font-size: 22px;
    text-align: center;
}

#text-study{
    font-style: italic;
}

h1 {
    color: blue;
}

.contact-page{
    font-style: italic;
}

nav ul li{
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 1200px;
}