* {
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    color: white;
}

#content {
    margin: 150px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: brown;
}

.Intro, .cascade, .flex{
    margin-left:auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 450px;
    padding: 25px;
}
.container-practice{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

}
.container-practice div{
    flex: 1;
}
.ordered ol li, .unordered ul li{
    align-items: start;
    text-align: left;
}
